.c-card01 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &--col3{
        width: 31.25%;
        @include is-between(900px, 751px){
            width: 48%;
            &:nth-child(2n+2){
                margin: 60px 0 35px 4%;
            }
        }
        @include is-sp{
            width: 100%;
            margin: 0 0 53px 0;
        }
        &:nth-child(3n+2){
            @include is-min(901px){
                margin: 60px 0 114px 3.125%;
            }
        }
        &:nth-child(3n+3){
            @include is-min(901px){
                margin: 120px 0 0 3.125%;
            }
        }
        &__img{
            position: relative;
        }
        &__num{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            background-color: #fff;
            font-family: $font-family-en;
            font-weight: 700;
            @include font-line(30);
            letter-spacing: .04em;

            @include is-sp{
                width: 53px;
                height: 53px;
                @include font-line(25);
            }
        }
        &__title{
            @include font-line(25, 37.5);
            font-weight: 700;
            padding: 27px 0 8px;

            @include is-sp{
                @include font-line(17, 25.5);
                padding: 20px 0 10px;
            }
        }
        &__desc{
            @include font-line(15, 27);
            letter-spacing: 0.04em;
            @include is-sp{
                @include font-line(14, 28);
            }
        }
    }
}

.c-card02 {
    position: relative;
    .c-accordion{
        border-bottom: 1px solid #000;
        &:first-child{
            border-top: 1px solid #000;
        }
        &__head{
            &--title{
                position: relative;
                display: block;
                @include font-line(25);
                cursor: pointer;
                padding: 31px 0 33px;
                @include is-sp{
                    @include font-line(15);
                    font-weight: 700;
                    line-height: 1.2;
                    padding: 22px 0 22px;
                }
                span{
                    @include font-line(38);
                    font-family: $font-family-en;
                    font-weight: 500;
                }
                &.isActive{
                    &::before{
                        transform: translate(0, -50%) rotate(90deg);
                        opacity: 0;
                    }
                    &::after{
                        transform: translate(0, -50%) rotate(180deg);
                    }
                }
                &::before{
                    content: "";
                    display: block;
                    width: 25px;
                    height: 2px;
                    background-color: #000;
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translate(0, -50%);
                    transition: .3s ease-in-out;

                    @include is-sp{
                        width: 18px;
                    }
                }
                &::after{
                    content: "";
                    display: block;
                    width: 25px;
                    height: 2px;
                    background-color: #000;
                    position: absolute;
                    top: 50%;
                    right: 30px;
                    transform: translate(0, -50%) rotate(90deg);
                    transition: .3s ease-in-out;

                    @include is-sp{
                        width: 18px;
                    }
                }
            }
        }
        &__content{
            display: none;
        }
    }
}

.c-card03 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    &--col3{
        width: 31.25%;
        position: relative;
        background-color: #fff;
        padding: 56px 40px 54px;
        @include is-between(900px, 751px){
            width: 48%;
            &:not(:last-child){
                margin: 0 0 60px 0;
            }
        }
        @include is-sp{
            width: 100%;
            padding: 42px 20px 44px;
            &:not(:last-child){
                margin: 0 0 60px 0;
            }
        }
        &:nth-child(3n+2){
            @include is-min(901px){
                margin: 0 0 0 3.125%;
            }
            @include is-between(900px, 751px){
                margin: 0 0 0 4%;
            }
        }
        &:nth-child(3n+3){
            @include is-min(901px){
                margin: 0 0 0 3.125%;
            }
        }
        &--num{
            font-family: $font-family-en;
            @include font-line(80);
            font-weight: 700;
            letter-spacing: .04em;
            position: absolute;
            top: -60px;
            left: 40px;
            @include is-sp{
                @include font-line(55);
                top: -42px;
                left: 20px;
            }
        }
        &--title{
            @include font-line(25, 37.5);
            font-weight: 700;
            margin-bottom: 8px;
            @include is-sp{
                @include font-line(17, 25.5);
            }
        }
        &--desc{
            @include font-line(15, 27);
            @include is-sp{
                @include font-line(14, 28);
            }
        }
    }
}

.c-card04 {
    display: block;
    background-color: white;
    position: relative;
    margin: 20px auto;
    padding: 2%;

    &--md {
        width: calc(90%/3);

        @include is-sp {
            width: 100%;
            padding: 20px;
        }
    }

    &__top,
    &__center,
    &__bottom {
        text-align: center;
    }

    &__bottom {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        @include is-sp {
            width: 100%;
            height: 280px;
            align-items: flex-start;
        }

        @include is-tabpc {
            margin-bottom: 20px;
        }
    }

    &__pic {
        width: 100%;
        height: 100%;
    }

    &__title,
    &__desc {
        padding: 20px 5px;
        @include is-sp{
            padding: 15px 5px;
        }
    }

    &__title {
        @include is-tabpc {
            @include font-line(18);
            font-weight: 900;
        }
    }

    &__desc {
        letter-spacing: 1px;

        @include is-tabpc {
            @include font-line(13);
            font-weight: 700;
        }
    }
}

.c-card05 {
    text-decoration: none;
    color: $color-text04;
    display: block;
    padding: 20px;
    word-break: break-word;
    border-color: #ececec;
    transition: box-shadow .2s ease, -webkit-transform .3s cubic-bezier(.34, 2, .6, 1);
    transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease;
    transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease, -webkit-transform .3s cubic-bezier(.34, 2, .6, 1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    margin-bottom: 20px;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
    }

    &--l {
        height: 500px;
    }

    &__top {
        height: 12rem;
        margin-bottom: 1rem;
        position: relative;

        .feature {
            display: block;
            height: inherit;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
        }

        .stamp {
            position: absolute;
            top: -10px;
            left: -10px;
        }
    }

    &__center {
        height: 12rem;

        .description {
            height: inherit;
            overflow: hidden;
        }

        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 0;
        }

        .summary {
            overflow-y: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }

    &__bottom {
        margin: 20px 0 0;
        .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .author {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }

        .avatar {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 999px;
        }
    }
}
