.c-text01 {
	width: 100%;
	padding: 18px 16px;
	border: none;
	border-radius: 5px;
	background: #ffffff;
	// color: #c6c6c6;
	color: #000;
	font-weight: 500;
	@include font-line(16, 16);
	@include is-sp {
		@include font-line(15, 15);
	}
	&::placeholder {
		color: #b4b4b4;
	}
	&:focus {
		border-color: #b4b4b4;
	}
	&--error {
		border-color: #d65c5c;
	}
	&--disabled {
		background-color: #f4f4f4;
	}
}
.c-textarea01 {
	padding: 30px;
	width: 100%;
	border: none;
	border-radius: 5px;
	background: #ffffff;
	font-weight: 500;
	@include font-line(16, 16);
	font-family: $font-family-base;
	@include is-sp {
		@include font-line(15, 15);
	}
	&::placeholder {
		color: #b4b4b4;
	}
	&:focus {
		border-color: #1e72be;
	}
	&--error {
		border-color: #d65c5c;
	}
	&--disabled {
		background-color: #f4f4f4;
	}
}

.c-select01 {
	padding: 5px 10px;
	border: solid 1px #ccc;
	border-radius: 5px;
	width: 100%;
	// background: #fff url(../img/bg_form_select_01.svg) no-repeat;
	background-position: right 14px center;
	background-size: 10px 10px;
	height: 50px;
	font-size: 1.125rem;
	width: 100%;
	margin: 11px 0px 25px 0px;
}

.c-checkbox03 {
	$checkbox: &;
	position: relative;
	&__input {
		width: 0 !important;
		height: 0 !important;
		margin: auto !important;
		padding: 0 !important;
		appearance: none;
		position: absolute;
		z-index: -999;
		top: 0;
		bottom: 0;
		left: 10px;
		&:checked + #{$checkbox}__label {
			#{$checkbox}__check {
				background: #e93f33;
				position: relative;
				&:after {
					content: "";
					border-right: 3px solid #fff;
					border-bottom: 3px solid #fff;
					display: block;
					height: 10px;
					margin-top: -8px;
					position: absolute;
					top: 58%;
					transform: rotate(45deg);
					width: 6px;
				}
			}
		}
	}
	&__check {
		display: flex;
		justify-content: center;
		content: "";
		width: 25px;
		height: 25px;
		background: #e7e6e6;
		margin: 0 5px 0 0;
		border-radius: 3px;
		cursor: pointer;
	}
	&__name {
		width: calc(100% - 18px);
		padding-left: 7px;
		color: #000;
		a {
			display: inline-block;
			color: #000;
			text-decoration: underline;
			text-underline-offset: 6px;
		}
	}
	&__label {
		display: flex !important;
		align-items: center;
		position: relative;
	}
}
