.p-jumbotron {
<<<<<<< HEAD
	padding: 124px 0 0;
=======
    position: relative;
    .l-wrap{
        padding: 124px 50px 200px;
        position: relative;
        @include is-sp{
            padding: 184px 20px 120px;
        }
    }
>>>>>>> a7142250877f5b64d01f216c143ff468f00177e4
	&__main {
		font-family: $font-family-en;
		@include font-line(150, 150);
		font-weight: 500;
		@include is-sp {
			@include font-line(62, 62);
		}
	}
	&__sub {
		@include font-line(18, 24);
		font-weight: bold;
		@include is-sp {
			@include font-line(17, 26);
		}
	}
<<<<<<< HEAD
}
=======

    .aioseo-breadcrumbs{
        margin-top: 45px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @include is-sp{
            margin-top: 28px;
        }
        .aioseo-breadcrumb{
            &:first-child{
                a{
                    color: #b4b4b4;
                }
            }
        }
        .aioseo-breadcrumb-separator{
            color: #b4b4b4;
            margin: 0 7.5px;
        }

        span, a{
            font-family: $font-family-en;
            @include font-line(14);
            font-weight: 500;
            letter-spacing: .04em;
        }
    }
}
>>>>>>> a7142250877f5b64d01f216c143ff468f00177e4
