.p-multiStepForm {
	display: flex;
	justify-content: space-between;
	position: relative;
	@include is-sp {
		flex-flow: column;
	}
	&__stepList {
		@include is-tabpc {
			position: absolute;
			top: 0;
			left: 0;
		}
		@include is-sp {
			margin-bottom: 50px;
		}
		&__item {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
			@include is-sp {
				@include font-line(15, 37.5);
			}
			&.isCurrent {
				a {
					color: #000000;
				}
			}
			a {
				color: #b4b4b4;
			}
		}
	}
	&__form {
		width: 960px;
		@include is-sp {
			width: 100%;
		}
		margin-left: auto;
		$form: &;
		&--confirmation {
			#{$form} {
				&__item {
					padding-bottom: 26px;
					&:not(:last-child) {
						margin-bottom: 67.5px;
						border-bottom: 1px solid #000;
					}
				}
			}
		}
		&--complete {
			.container {
				width: 470px;
				@include is-sp {
					width: 100%;
				}
				.heading {
					@include font-line(35, 52.5);
					font-weight: bold;
					margin-bottom: 40px;
					@include is-sp {
						@include font-line(25, 37.5);
					}
				}
				.text {
					@include font-line(16, 32);
					font-weight: 500;
					margin-bottom: 62.5px;
					@include is-sp {
						@include font-line(15, 30);
						margin-bottom: 40px;
					}
				}
			}
		}
		&__item,
		&__label {
			display: flex;
			align-items: center;
			@include is-sp {
				align-items: flex-start;
			}
		}
		&__item {
			justify-content: space-between;
			@include is-sp {
				flex-flow: column;
			}
			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
		&__label {
			@include is-sp {
				margin-bottom: 15px;
			}
			.required {
				margin-right: 15px;
			}
			&--flexStart {
				align-self: flex-start;
			}
		}
		&__field {
			width: 670px;
			position: relative;
			margin-left: auto;
			@include is-sp {
				width: 100%;
			}
			&.isError {
				span {
					color: #e93f33;
				}
			}
			&--checkbox {
				li {
					&:not(:last-child) {
						margin-bottom: 20px;
					}
				}
			}
			&--confirmation {
				display: flex;
				width: 100%;
				justify-content: space-between;
				@include is-sp {
					flex-flow: column;
					align-items: center;
				}
				button {
					&:first-child {
						@include is-sp {
							margin-bottom: 30px;
						}
					}
				}
			}
			button {
				max-width: 470px;
			}
		}
	}
}
