.page__footer {
	&__wrap {
		max-width: 1010px;
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0 50px 170px 50px;
		width: 100%;

		@include is-sp {
			flex-wrap: wrap;
			padding: 0 20px 170px 20px;
		}
	}

	&--row-1 {
		width: 21.782178217821784%;
		a {
			display: block;
			width: 70px;
			height: auto;

			img {
				width: 100%;
			}
		}

		@include is-sp {
			width: 100%;

			a {
				margin: 0 auto;
			}
		}
	}

	&--row-2 {
		width: calc(100% - 22%);

		@include is-tabpc {
			width: 100%;
		}

		@include is-sp {
			width: 100%;
			padding: 0 20px;
		}
	}

	&--links {
		display: flex;
		justify-content: space-between;
		padding-top: 28px;

		@include is-sp {
			flex-wrap: wrap;
			width: 100%;
			padding-top: 60px;
		}

		.accordion {
			display: flex;
			justify-content: space-between;
			align-items: center;

			p {
				font-family: $font-family-en;
				font-weight: 600;
				letter-spacing: 0.08em;

				@include font-line(30, 24);

				@include font-line(20);
			}

			img {
				display: none;
				width: 18px;
				height: 18px;

				@include is-sp {
					display: block;
				}
			}

			&:hover {
				cursor: pointer;
			}
		}

		ul {
			padding-top: 30px;

			@include is-sp {
				padding-left: 20px;
			}

			li {
				a {
					color: $color-text-default;
					font-weight: 500;
					letter-spacing: 0.04em;

					@include font-line(13, 30);
				}
			}
		}

		&__items {
			@include is-sp {
				width: 100%;
				padding: 35px 20px 35px 0;
				border-bottom: 1px solid #e2e1e1;
				border-right: none;
				border-left: none;

				&:first-child {
					border-top: 1px solid #e2e1e1;
				}
			}

			.hidden {
				@include is-sp {
					display: none;
				}
			}
		}
	}

	&--copyright {
		padding-bottom: 187px;

		@include is-sp {
			padding-bottom: 33px;
		}
		p {
			font-family: $font-family-en;
			font-weight: 500;
			letter-spacing: 0.04em;
			font-style: normal;
			display: inline-flex;
			align-items: center;

			@include font-line(15, 24);

			span {
				font-family: $font-family-base;
				a {
					color: #000;
					letter-spacing: 0.04em;
					@include font-line(15);
				}
			}
		}
	}

	.l-wrap {
		position: relative;

		.backtop {
			position: absolute;
			right: 50px;
			bottom: 159px;
			width: 65px;
			height: auto;

			@include is-sp {
				bottom: 125px;
			}
		}
	}
}
