pre {
    padding: 10px;
    background: #eeeeee;
    font-size: 12px;
    font-size: 0.75rem;
    border: solid 1px #333;
    width: 100%;
    overflow: scroll;
    font-family: monospace, monospace;
}