.page{
    &__banner {
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        overflow: initial;
        @include is-sp {
            height: 560px;
        }
        &--ttl {
            font-weight: 700;
            @include font-line(130, 150);
            @include is-max(1000px) {
                font-size: 10vw;
            }
            @include is-sp {
                @include font-line(46, 54);
            }
            @include is-max(372px) {
                font-size: 11.99vw;
            }
        }
        &--sub {
            font-weight: 700;
            padding-top: 38px;
            @include font-line(32, 48);
    
            @include is-sp{
                @include font-line(16, 24);
                letter-spacing: .06em;
                padding-top: 23px;
            }
        }
    
        .l-wrap {
            position: relative;
            z-index: 999;
    
            .floating_contact {
                position: absolute;
                right: 50px;
                bottom: -10%;
                width: 130px;
                height: 130px;
    
                @include is-sp {
                    display: none;
                }
            }
        }

        &--circle{
            position: absolute;
            width: 1000px;
            height: auto;
            top: 450px;
            transform: translate(-50%, -50%);
            left: 50%;
            @include is-max(1000px){
                width: 90%;
                top: 50%;
            }
        }
    }
    
        &__inner {
        width: 100vw;
        height: 100%;
        // background-color: #fff;
        position: absolute;
        z-index: 150;

            // .blob-1 {
            //     transform: translate(-50%, -50%);
            //     z-index: 99;
            //     position: absolute;
            //     top: 43%;
            //     left: 43%;
            //     opacity: 0;

            //     @include is-sp{
            //         left: 30vw;
            //     }

            //     @include is-max(500px) {
            //             left: 18vw;
            //     }

            //     @include is-max(375px){
            //         @include is-sp {
            //             left: 15vw;
            //         }
            //     }

            // }

            // .blob-2 {
            //     transform: translate(-50%, -50%);
            //     z-index: 99;
            //     position: absolute;
            //     top: 43%;
            //     left: 43%;
            //     opacity: 0;

            //     @include is-sp {
            //         left: 30vw;
            //     }

            //     @include is-max(500px) {
            //             left: 18vw;
            //     }

            //     @include is-max(375px) {
            //         @include is-sp {
            //             left: 15vw;
            //         }
            //     }
        
            // }

            // .current {
            //         z-index: 999 !important;
            //     }

            // .blob-1.isActive,
            // .blob-2.isActive {
            //     transform: translate(-50%, -50%);
            //     animation: scale 150s ease-out infinite;
            //     z-index: 99;
            //     opacity: 1;

            //     @include is-sp{
            //         animation: scale 600s ease-out infinite;
            //     }
            // }
            
            // @keyframes scale {
            //     from {
            //         transform: scale(0);
            //     }
            
            //     to {
            //         transform: scale(90);
            //     }
            // }

            // @include is-sp{
            //     @keyframes scale {
            //         from {
            //             transform: scale(0);
            //         }
                
            //         to {
            //             transform: scale(170);
            //         }
            //     }
            // }

    }

}



