.page{
    &__banner {
        height: 100vh;
        display: flex;
        align-items: center;
        @include is-sp {
            height: 560px;
        }
        &--ttl {
            font-weight: 700;
            @include font-line(130, 150);
            @include is-max(1000px) {
                font-size: 10vw;
            }
            @include is-sp {
                @include font-line(46, 54);
            }
            @include is-max(372px) {
                font-size: 11.99vw;
            }
        }
        &--sub {
            font-weight: 700;
            padding-top: 38px;
            @include font-line(32, 48);
    
            @include is-sp{
                @include font-line(16, 24);
                letter-spacing: .06em;
                padding-top: 23px;
            }
        }
    
        .l-wrap {
            position: relative;
    
            .floating_contact {
                position: absolute;
                right: 50px;
                bottom: -10%;
                width: 130px;
                height: 130px;
    
                @include is-sp {
                    display: none;
                }
            }
        }
    }

    &__circle{
            &--inner {
			position: absolute;
			animation: spin 10s ease-out infinite;
     		transform: scale(0.8);
			top: 0;
			width: 62%;
			left: 20%;
            transform-origin: center;
			// @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
            transition: all 1s cubic-bezier(0.79, 0.33, 0.14, 0.53);


            @keyframes spin {
                    from {
                        transform: scale(0);
                    }
                    to {
                        transform: scale(1.9);
                    }
                }

			@include is-sp{
				width: 100%;
    			left: 0;
			}
		}
    }
}