.top {
	.sect_3 {
		padding: 180px 0 0 0;
		@include is-sp {
			padding: 145px 0 180px 0;
		}

		.l-wrap {
			@include is-max(900px) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		&__container {
			max-width: 1280px;
			margin: 0 auto;
		}

		&__col {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			align-items: center;

			&--item {
				width: 25%;
				text-align: center;

				@include is-max(850px) {
					padding: 10px;
				}
				@include is-sp {
					width: calc(100% / 2);
				}
				@include is-max(430px) {
					padding: 10px;
				}

				&:nth-of-type(1) {
					img {
						width: 146px;
						@include is-sp {
							width: 100px;
						}
					}
				}
				&:nth-of-type(2) {
					img {
						width: 175px;
						@include is-sp {
							width: 130px;
						}
					}
				}
				&:nth-of-type(3) {
					img {
						width: 175px;
						@include is-sp {
							width: 130px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(4) {
					img {
						width: 175px;
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(5) {
					margin-top: 80px;
					img {
						width: 146px;
						@include is-sp {
							width: 100px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(6) {
					margin-top: 80px;
					img {
						width: 175px;
						@include is-sp {
							width: 130px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(7) {
					margin-top: 80px;
					img {
						width: 146px;
						@include is-sp {
							width: 100px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(8) {
					margin-top: 80px;
					img {
						width: 175px;
						@include is-sp {
							width: 130px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(9) {
					margin-top: 80px;
					img {
						width: 146px;
						@include is-sp {
							width: 100px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(10) {
					margin-top: 80px;
					img {
						width: 66px;
						@include is-sp {
							width: 55px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
				&:nth-of-type(11) {
					margin-top: 80px;
					img {
						width: 66px;
						@include is-sp {
							width: 55px;
						}
					}
					@include is-sp {
						margin-top: 45px;
					}
				}
			}
		}
	}
}
